
  .svg-wrapper {
    position: relative;
    transform: translateY(0%);
        margin: 0 auto;
    width: 104px;  
    height: 60px;
    margin: 5px;
}

  .shape {

    stroke-dasharray: 40 540;
    stroke-dashoffset: -197;
    stroke-width: 2px;
    fill: transparent;
    stroke: #654ce5;
    border-bottom: 2px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 2px;
    transform: translateY(-120%);
    color: #fff;
    text-align: center;
    font-weight: 580;
  }
  .svg-wrapper:hover .shape {
    stroke-width: -2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 330;
  }

  /* .svg-wrapper:hover .text {
    padding: 1px;
    transition: 0.5s;
  } */

  @media screen and (max-width: 960px) {
    .svg-wrapper {
        display: none;
    }
}