/* .cards {
  padding: 4rem;
  background: #EFEFD0;
}

h1 {
  text-align: center;
  color: #011638;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

.container2 {
  height: fit-content;
}
.container2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #EFEFD0;
}
.container2::before {
  position: absolute;
  transform: translateY(50%);
  top: 60px;
  width: 350px;
  height: 350px;
  content: "";
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  background-image: linear-gradient(45deg, #FF6B35, #F7C59F);
  animation: vawe 5s linear infinite;
}

.container2::after {
  position: absolute;
  top: 500px;
  left: 20px;
  width: 350px;
  height: 350px;
  content: "";
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  background-image: linear-gradient(45deg, #FF6B35, #F7C59F);
  animation: vawe 5s linear infinite;
}
.container2::before {
  top: -10%;
  right: -25%;
}
.container2::after {
  bottom: -10%;
  left: -15%;
}
.container2 .dots {
  position: absolute;
  max-height:1500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container2 .dots span {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #FF6B35, #F7C59F);
  border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
  animation: vawe 7s linear infinite;
}
.container2 .dots span:nth-child(1) {
  top: 10%;
  left: calc(100% - 360px);
  width: 75px;
  height: 75px;
}
.container2 .dots span:nth-child(2) {
  top: 15px;
  left: 180px;
  width: 50px;
  height: 50px;
  border-radius: 38% 62% 33% 67% / 60% 53% 47% 40%;
  transform: rotate(90deg);
}
.container2 .dots span:nth-child(3) {
  right: 180px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
.container2 .dots span:nth-child(4) {
  bottom: 50px;
  left: 240px;
  width: 20px;
  height: 20px;
  border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
.container2 .dots span:nth-child(5) {
  right: 280px;
  bottom: 80px;
  width: 25px;
  height: 25px;
  border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
.container2 .dots span:nth-child(6) {
  top: 6%;
  left: calc(100% - 400px);
  width: 25px;
  height: 25px;
}


@keyframes vawe {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
} */